<h1 id="aboutpagetitle">About</h1> <!-- Don't change this line, rspec test uses this to detect About page -->

<p>This gem was created by Ronald Chan, who ajaxified his pagination of a rails application. Because the code added some common features, and the code was also modularised, it becomes much more useful to package it up in a gem, so that everybody can use it. The separation of the code also makes the application better managed, since it provides functionality not specific to the application.</p>
<p>This example application was created for testing purposes. It is also a good example application so that you can see what the gem can do.</p>
