<h2 id="readmepagetitle">Readme</h2> <!-- Don't change this line, rspec test uses this to detect page -->
<b>Note: the readme is written in markdown, but is not formatted as such below. It is more suitable to read it on GitHub.</b>

<%= simple_format(@readme) %>
