<h2 id="welcomepagetitle">Example Rails Application for AJAX Pagination</h2> <!-- Don't change this line, rspec test uses this to detect page -->
<p>Welcome to the example application for the Rails gem, AJAX Pagination. This gem will ajaxify your pagination and navigation.</p>

<p>The posts and changelog are good examples of how pagination of your records can be ajaxified easily. Additionally, the whole site has content which is loaded with AJAX calls, because the menu navigation links also have AJAX Pagination applied to them.</p>

<p>This site is used to test the gem. Because a good part of this gem involves javascript, it is tested using the Capybara gem.</p>
